---
import Link from '@/components/link.astro'
import { Badge } from '@/components/ui/badge'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
const displayEndDate = project.data.endDate
  ? project.data.endDate instanceof Date
    ? formatDate(project.data.endDate)
    : project.data.endDate === 'present'
      ? formatDate(new Date())
      : '至今'
  : '至今'
---

<div
  class="hover:bg-muted/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out"
>
  <Link
    href={project.data.link}
    class="flex flex-col gap-4 sm:flex-row"
    external
  >
    {
      project.data.image && (
        <div
          class="bg-muted/30 overflow-hidden rounded-lg w-full aspect-[2/1] sm:h-32 sm:w-64 sm:shrink-0"
        >
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={256}
            height={128}
            class="h-full w-full object-cover"
          />
        </div>
      )
    }
    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">
        {project.data.name}
      </h3>
      <p class="text-muted-foreground mb-2 text-sm">
        {project.data.description}
      </p>
      {
        project.data.startDate && (
          <p class="text-muted-foreground/70 mb-2 flex items-center gap-x-1.5 text-xs">
            <span class="flex items-center gap-x-1.5">
              <Icon name="lucide:calendar" class="size-3" />
              <span>
                {formatDate(project.data.startDate)}
                {` → ${displayEndDate}`}
              </span>
            </span>
          </p>
        )
      }
      {
        project.data.tags && (
          <div class="flex flex-wrap gap-2">
            {project.data.tags.map((tag: string) => (
              <Badge variant="muted">{tag}</Badge>
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
